@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    box-sizing: border-box;
    background-color: rgb(207, 204, 223);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px, 0;
}

h2 {
    border-bottom: 3px solid rgb(64, 62, 70);
    padding-bottom: 10px;
}

#indextext {
    text-align: center;
}

#container {
    max-width: 1300px;
    margin:0 auto;
    background-color: rgb(207, 204, 223);
}

#footerstyle {
    font-size: small;
    text-align: center;
    margin: 40px;
}

#picturedesc {
    font-style: italic;
    text-align: center;
    margin: 0, 0, 20px, 0;
}

#returnstyle {
    text-align: center;
    font-size: 125%;
    text-decoration: underline;
}

#titlestyle {
    text-align: center;
    color: rgb(66, 70, 83);
    margin-bottom: 3%;
}

.column {
    max-width: 100%;
    float:left;
    margin:0, 10px;
}

.imgrow {
    display: flex;
    justify-content: center;
    padding: 20px 0 7px 0;
}

.imgrow img {
    width: 40%;
}

.imgrow img:first-child {
    padding-right: 30px;
}

.imgsingle {
    display: flex;
    justify-content: center;
    padding: 20px 0 7px 0;
}

.content {
    text-align:justify;
}

.content::after {
    content:"";
    clear:both;
    display:table;
}

ul.no-bullets {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    font-weight: bold;
    text-align: center;
}
